{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="csrf-token" content="{{ csrf_token }}">
        <title>Audio Recording</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static '/css/recording.css' %}">
        <script src="{% static '/js/javascripts/WebAudioRecorder.js' %}"></script>
        <script src="{% static '/js/javascripts/WebAudioRecorderWav.min.js' %}"></script>
    </head>
    <body>
        <div class="top-left-link">
            <i id="change_page_button" class="fa fa-folder"></i>
        </div>
        <div class="center">
            <h3>{{sentence}}</h3>
            <i id="start_button" class="start-recording-button fa fa-microphone" aria-hidden="true"></i>
            <div class="recording-contorl-buttons-container hide">
                <i class="recording-message">Recording in progress...</i>
                <i id="stop-button" class="stop-recording-button fa fa-stop-circle-o" aria-hidden="true"></i>
            </div>            
            
        </div>
        <footer>
            <div>
                <i id="navigation_button_prev" class="fa fa-arrow-left"></i>
                <p id="number" class="number">{{number}}</p>
                <i id="navigation_button_next" class="fa fa-arrow-right"></i>
            </div>
        </footer>
        <script type="text/javascript">
            var static_url = "{% static 'js/javascripts/' %}";
        </script>
        <script src="{% static '/js/recording.js' %}"></script>
    </body>
</html>
